## ECE2112: Experiment 3

This notebook contains Python code developed for the Experiment 3 in ECE2112, focusing on Python Data Analysis.

**Submitted by:** Aaron Chastine V. Villajin

***

#### Objectives of this Experiment

> To identify the codes and functions incorporated in the Pandas library.

> To be able to apply and use the different codes and functions in creating a Python program using a
Pandas library.

***

**Problem 1:** *Save your file as Surname_Pandas-P1.py*

*Apply the knowledge obtained from the experiment and demonstrations in solving this problem.*

**Script:**

In [12]:
# Declare panda data analysis library
import pandas as pd

> Load the corresponding .csv file into a data frame named cars using pandas

In [13]:
# Load the corresponding .csv file into a data frame named cars using pandas
cars = pd.read_csv('cars.csv')

*We use the read_csv function from pandas to load the cars.csv file into a data frame named cars.*

> Display the first five and last five rows of the resulting cars.

In [14]:
# Display the first five rows of the resulting cars
print("First five rows of the cars data frame:")
print(cars.head())

First five rows of the cars data frame:
               Model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2

*We use the head method to display the first five rows of the cars data frame.*

In [15]:
# Display the last five rows of the resulting cars
print("\nLast five rows of the cars data frame:")
print(cars.tail())

Last five rows of the cars data frame:
             Model   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  \
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5
28  Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5
29    Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5
30   Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4

    carb
27     2
28     4
29     6
30     8
31     2

*We use the tail method to display the last five rows of the cars data frame.*

***

#### Discussion

**Approach:** The approach used to solve the problem involves three key steps. Firstly, the necessary library, pandas, is imported to enable working with CSV files and data frames. Secondly, the read_csv function is utilized to load the cars.csv file into a data frame named cars. Finally, the head and tail methods are employed to display the first five and last five rows of the cars data frame, respectively.

**Functionality:** The approach is useful because it efficiently loads data into a flexible data structure, allows for quick data inspection, and sets the stage for further analysis and manipulation.

***

**Problem 2:** *Save your file as Surname_Pandas-P2.py*

*Using the dataframe cars in problem 1, extract the following information using subsetting, slicing and
indexing operations:*

**Script:**

> Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7…) of cars.

In [56]:
print(cars.iloc[:, 1::2].head(5))

    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

*To achieve this, we can use slicing and indexing operations. Assuming the column indices start from 0, we can select the odd-numbered columns using iloc and then select the first five rows using slicing.*

> Display the row that contains the ‘Model’ of ‘Mazda RX4’

In [59]:
print(cars[cars['Model'] == 'Mazda RX4'])

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

*We can use boolean indexing to select the row where the 'Model' column is 'Mazda RX4'.*

> How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?

In [62]:
print(cars.loc[cars['Model'] == 'Camaro Z28', 'cyl'].values[0])

8

*Similar to the previous question, we can use boolean indexing to select the row where the 'Model' column is 'Camaro Z28' and then access the 'cyl' column.*

> Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4
Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.

In [65]:
models = ['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic']
print(cars.loc[cars['Model'].isin(models), ['cyl', 'gear']])

    cyl  gear
1     6     4
18    4     4
28    8     5

*We can use boolean indexing to select the rows where the 'Model' column is in the list of desired models, and then access the 'cyl' and 'gear' columns.*

***

#### Discussion

**Approach:** To extract specific data from a Pandas dataframe, one can employ various subsetting, slicing, and indexing operations. Slicing allows one to select specific rows and columns using iloc or loc. Boolean indexing enables one to filter rows based on conditions, and the isin method allows one to select rows where a column is in a list of desired values. These operations can be combined to efficiently extract the required information from the dataframe.

**Functionality:** This approach is useful because it allows for efficient and flexible data extraction from Pandas dataframes. By combining subsetting, slicing, and indexing operations, users can quickly and precisely retrieve specific data, filter out unwanted information, and manipulate their data to meet their analysis needs